<div class="form-page">
  <div class="form-container">
    <div class="title">New Activity</div>
    <%= render 'form', list: @list %>
    <div class="shared-links">
      <%= link_to 'Back', project_path(id: params[:project_id]), class: 'link' %>
    </div>
  </div>
</div>
