<div class="form-page" style="background: #000">
  <div class="form-container" style="background-color: #0E0E0E">
    <div class="title" style="color: #fff">Sign up</div>

    <%= render 'form' %>

    <div class="shared-links">
      <%= render "devise/shared/links" %>
    </div>

  </div>
</div>
