<div class="home-page-container" style="display: flex; justify-content: space-between;">
  <div class="info">
    <div class="page-title mb-4" style="color: white">A better way to develop concepts.</div>
    <div class="page-subtitle mb-5" style="color: white">All the tools you need to innovate in one place - with Frame.</div>
    <%= link_to "Try Frame for free", new_user_registration_path, class: "btn btn-primary" %>
  </div>

  <div class="picture"></div>
</div>
