<% if user_signed_in? %>
  <div class="main-container">
    <h3 class='mt-5 mb-5'>Projects</h3>

    <% @projects.each do |project| %>
      <%= link_to project, class: 'project-card' do %>

          <div class='title'>
            <%= project.name %>
          </div>

      <% end %>
    <% end %>

    <%= link_to new_project_path, class: 'new-project-card' do %>
        <div>+ Create new story map</div>
    <% end %>


  </div>

<% else %>
  <div class="home-page">
    <%= render 'homepage' %>
  </div>
<% end %>
