<div class="form-page">
  <div class="form-container">
    <div class="title">New Project</div>
    <%= render 'form', project: @project %>
    <div class="shared-links">
      <%= link_to 'Back', projects_path, class: 'link' %>
    </div>
  </div>
</div>
