<div class="form-page">
  <div class="form-container">
    <div class="title">New Story</div>
    <%= render 'form', card: @card %>
    <div class="shared-links">
      <%= link_to 'Back', root_path, class: 'link' %>
    </div>
  </div>
</div>
