/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";


$primary-color: #414AFF;
$primary-color-hover: #3c4bee;
$light-bg: #f5f7fa;
$light-bg-hover: #7677FC;
$gray-text: #B3B3B3;
$light-gray: #e6ecf0;
$dark-gray: #0E0E0E;
$dark-border: #333;
$light-border: #edeff2;
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);

/** Layout **/


body {
  background-color: $light-bg;
}

.main-container {
  height: 100%;
  padding: 4rem;
  width: 100%;
}

a, a:hover, a:focus {
  color: inherit;
}


/** Buttons & Links **/

.btn-primary {
  background-color: $primary-color;
  border: none;
  color: white;

  &:hover {
    background-color: $primary-color-hover;
  }
}




/** Navbar **/

.navbar {
  background-color: #000;
  padding: 0.5rem 4rem;
}

.navbar-brand {
  color: white;

  &:hover {
    color: white;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  margin-left: 32px;
}

.nav-item {
  color: white;

  &:hover {
    color: white;
  }
}

.navbar-black {
  background-color: #000;
  display: flex;
  height: 90px;

  .nav-item {
    margin-left: auto;
    margin-right: 24px;
  }
}

.nav-flex {
  align-items: center;
  display: flex;
}

/** Home Page **/

.home-page-container {
  margin: 0 auto;
  width: 1200px;
}

.home-page {
  align-items: center;
  background-color: #000;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;

  .info {
    display: inline-block;
    width: 480px;

    .page-title {
      font-size: 56px;
    }
  }

  .picture {
    background-color: $dark-gray;
    border-radius: 4px;
    height: 360px;
    width: 600px;
  }
}




/** Form **/

.form-control {
  background-color: transparent;
  border: 1px solid $light-border;
  height: 48px;
  margin-bottom: 16px;
  outline: 0;
  width: 100%;
}

.form-control:focus {
  border-color: $primary-color;
  box-shadow: none;
}

.simple_form {
  .button-primary {
    width: 100%;

    &:hover, &:focus {
      background-color: $primary-color-hover;
      outline: 0;
    }
  }
}

.dark-form {
  border-color: $dark-border;
  color: white !important;
}

.dark-form:focus {
  background-color: $dark-gray;

}


/*** Form Pages ***/

.form-page {
  align-items: center;
  background-color: $light-bg;
  display: flex;
  height: 100vh;

  .form-container {
    background-color: #fff;
    border-radius: 4px;
    margin: 0 auto;
    padding: 24px;
    width: 480px;

    .title {
      font-size: 32px;
      font-weight: 500;
      margin-bottom: 40px;
      text-align: center;
    }

    .button {
      align-items: center;
      background-color: $primary-color;
      color: white;
      display: flex;
      height: 48px;
      justify-content: center;
      width: 100%;

      &:hover {
        background-color: $primary-color-hover;
        color: white;
      }
    }

    .shared-links {
      text-align: center;
      margin-top: 40px;
      display: flex;
      flex-direction: column;

      .link {
        color: $gray-text;
      }

      .link:nth-child(even) {
        margin-top: 16px;
      }
    }
  }
}


/** Project Page **/

.new-project-card {
  align-items: center;
  border: 1px solid $light-border;
  border-radius: 4px;
  border-style: dashed;
  display: flex;
  height: 280px;
  justify-content: center;
  width: 280px;
  float: left;
  margin-bottom: 8px;
}

.project-card {
  align-items: center;
  background-color: white;
  border-radius: 4px;
  box-shadow: $box-shadow;
  display: flex;
  border: 1px solid $light-border;
  float: left;
  height: 280px;
  justify-content: center;
  margin-right: 8px;
  margin-bottom: 8px;
  width: 280px;
}


/** Story Map Page **/

.storymap-page {
  .page-info {
    align-items: center;
    display: flex;
    margin-bottom: 40px;
    margin-top: 40px;
    width: 100%;

    .title {
      font-size: 40px;
    }
  }


.story-container {
  display: flex;
}

.epic-container {
  min-height: 300px;
  display: inline-block;
  padding-right: 24px;

  .btn {
    color: white;
  }
}

.epic {
  display: flex;
}

.list {
  background-color: white;
  border-radius: 4px;
  box-shadow: $box-shadow;
  width: 280px;
  margin-right: 16px;
  display: inline-block;
  float: left;
  padding: 16px 16px 24px 16px;

}

.list:last-child {
  margin-right: 0px;
}

.add-list {
  align-items: center;
  border: 1px solid $light-border;
  border-radius: 4px;
  border-style: dashed;
  color: $gray-text;
  display: flex;
  justify-content: center;
  width: 280px;
  margin-right: 16px;
  float: left;
  padding: 16px 16px 24px 16px;
}

.card {
  background-color: white;
  border: 1px solid $light-border;
  cursor: pointer;
  margin-bottom: 8px;
  min-height: 40px;
  padding: 8px;
}

.add-card {
  color: $gray-text;
  font-size: 14px;
  margin-top: $spacer;
}











}













